.slide-in {
    animation: slide-in .15s ease-in-out 1;
}

@keyframes slide-in {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out {
    animation: slide-out .15s ease-in-out 1;
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}

.search-assist-slide-in {
    animation: search-assist-slide-in .15s ease-in-out 1;
}

@keyframes search-assist-slide-in {
    from {
        transform: translateY(-30%) translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: 
            rotate(0deg)
            rotate(0deg)
            translate3d(0, 100px, 100px);
    }
    13% {
        transform: 
            rotate(45deg)
            rotate(-45deg)
            translate3d(-375px, 80px, 80px);
    }
    25% {
        transform: 
            rotate(90deg)
            rotate(-90deg)
            translate3d(-600px, 0, 0);
    }
    38% {
        transform: 
            rotate(135deg)
            rotate(-135deg)
            translate3d(-400px, -80px, -80px);
    }
    50% {
        transform: 
            rotate(180deg)
            rotate(-180deg)
            translate3d(0, -100px, -100px);
    }
    63% {
        transform: 
            rotate(225deg)
            rotate(-225deg)
            translate3d(400px, -80px, -80px);
    }
    75% {
        transform: 
            rotate(270deg)
            rotate(-270deg)
            translate3d(600px, 0, 0);
    }
    88% {
        transform: 
            rotate(315deg)
            rotate(-315deg)
            translate3d(375px, 80px, 80px);
    }
    100% {
        transform: 
            rotate(360deg)
            rotate(-360deg)
            translate3d(0, 100px, 100px);
    }
}

@keyframes fade-and-cover {
    0% {
        opacity: 0;
        z-index: -1;
    }
    25% {
        opacity: 0;
        z-index: -1;
    }
    26% {
        opacity: 0.1;
        z-index: 1;
    }
    50% {
        opacity: 1;
        z-index: 1;
    }
    74% {
        opacity: 0.1;
        z-index: 1;
    }
    75% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
