.slide-in {
    animation: slide-in .15s ease-in-out 1;
}

@keyframes slide-in {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out {
    animation: slide-out .15s ease-in-out 1;
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}

.search-assist-slide-in {
    animation: search-assist-slide-in .15s ease-in-out 1;
}

@keyframes search-assist-slide-in {
    from {
        transform: translateY(-30%) translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
