.cart-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    
    h3 {
        font-weight: 550;
    }

    .shopping {
        margin: .75rem 0px 2.5rem 0px;
    }

    .checkbox{
        border-width: 10px;
        height: 20px; 
        width: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    p {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .popularity {
        color: #A61a2e
    }

    textarea {
        width: 425px;
        height: 60px;
        max-width: 425px;
        max-height: 60px;
        min-width: 425px;
        min-height: 60px;
        margin: 1.5rem 0;
        padding: .5rem;
        border-radius: 6px;
        box-shadow: 0 0 15px 1px inset rgba($color: #323232, $alpha: 0.10);
    }

    .delivery-info {
        opacity: 0.75;
        padding-top: 1rem;

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.85rem;
        }

        span {
            text-decoration-style: dotted;
            // text-decoration: underline;
        }
    }

    .coupon-tag {
        font-size: 1rem;
        margin-right: .5rem;
    }

    .item-quantity {
        // transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
        appearance: none;
        font-size: 1rem;
        border-width: 1px;
        border-color: rgba($color: #868686, $alpha: 0.3);
        width: 80px;
        height: 48px;
        padding: .5rem;
        border-radius: 6px;
        box-shadow: 0px 0px 5px 3px rgba(216, 216, 216, 0.3);
        cursor: pointer;
    }

    .relative {
        position: relative;
    }

    .fa-caret-down {
        content: "";
        width: 24px;
        height: 24px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cart {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    border: thick solid green;
}

.cart-items {
    width: 100%;
    border: thick solid aqua;

    .item-count-header{
        font-size: 2.25rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }

    .link{
        cursor: pointer;
        width: 205px;
        height: 175px;
        overflow: hidden;
        border-radius: 6px;
    }
}

.text-link {
    text-decoration: none;
    color: inherit;
}

.text-link:hover{
    text-decoration: underline;
}

.money-stuff {
    width: 45%;
    border: thick solid fuchsia;
}

.shop-icon {
    background-color: rgb(172, 171, 171);
    color: rgb(71, 71, 71);
    border-radius: 3px;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-row-container{
    display: flex;
    justify-content: space-between;
    border: thin solid orange;
        
    .start{
        justify-content: flex-start;
    }

    .width-bump {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.cart-item-column-container{
    display: flex;
    flex-direction: column;
}

.cart-item-img{
    max-width: 100%;
    object-fit: contain;
    object-position: top;
}

.padding-left {
    padding-left: 1rem;
}

.padding-right {
    padding-right: 1rem;
}

.left {
    // width: 100%;
    border: thin solid blueviolet;
}

.center {
    align-items: center;
    align-self: center;
}

.column-right {
    align-items: flex-end;
    text-align: end;
    width: 30%;
    border: thin solid red;
}

.plainify-button{
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    position: relative;
    font-weight: 700;
}

.plainify-button::after {
    content: '';
    width: 100%;
    height: 3em;
    border-radius: 24px;
    display: block;
    position: absolute;
    transform: scale(0);
    background-color: rgba($color: #323232, $alpha: 0.10);
    bottom: -.9em;
    left: 0;
    transition: transform 400ms;
}

.plainify-button:hover::after{
    transform: scale(1);
}

.sr-buttons {
    padding: 1em 0;
}

.greyed-out{
    opacity: 0.9;
}

