
.game-bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;

    .background-style {
        display: flex;
        height: 196px;
        background: linear-gradient(315deg, rgb(12, 5, 99) 10%, rgba(28,28,160,1) 91%);
        border-radius: 24px;
        border: 10px solid black;
        border-style: double;
        width: 99%;
        justify-content: center;

        h2 {
            margin-top: 15px;
            color: whitesmoke;
            font-size: 24px;
            font-weight: 700;
            text-shadow: 2px 2px black;
        }
    }

    .game-art-bubbles {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        max-width: 1420px;
        color: black;
        font-size: 10px;
        text-shadow: 1px 1px lightgray;


        .circle-splash-container {
            height: 110px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding-bottom: 10px;
        }

        h5 {
            margin: 12px 0px 18px 0px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 5px;
        }

        .circle-splash-container:hover {

            h5 {
                border-bottom: 2px solid rgba(0,0,0,0.6);
            }
        
            .circle-splash {
                transform: scale(1.05);
                box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
            }
        }
    }

    .circle-splash {
        background-color: whitesmoke;
        width: 114px;
        height: 114px;
        margin-top: -65px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        border: 1px solid grey;
        transition: 
            transform 150ms ease-out,
            box-shadow 150ms ease-out;

        .llama {
            object-position: 0% 0%;
        }

        .sword {
            object-position: 50% 100%;
        }
    }


}