// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center-product-index {
    display: flex;
    justify-content: center;
}

.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 100%;
    max-height: 360px;
    max-width: 1420px;

    .product-index-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
    }

    .product-index-price {
        font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-size: 14px;
    }

    li {
        width: 19%;
        max-height: 49%;
        padding: 0.5%;
    }

    .price-container {
        position: relative;
        bottom: 25%;
        left: 5%;
        border-radius: 15px;
        background-color: whitesmoke;
        display: inline-block;
        word-break: break-word;
        line-height: 1;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 9px 6px 9px;
        min-width: 25px;
    }
}
