

.product-show {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;
    max-width: 1400px;
    min-width: 855px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    color: black;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 1.75rem;

    .img-review {
        width: 65%;
    }

    .img-create-review-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
        width: 100%;
        min-width: 592px;
    }

    .product-index-item-img {
        border-radius: 15px;
        height: 520px;
        width: 80%;
        background-color: whitesmoke;
        object-fit: cover;
        object-position: top;
    }

    .size-review-button {
        width: 65%;
    }

    .product-info{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        width: 35%;
    }
    
    .product-show-seller-shop-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75rem;
    }
    
    .product-show-sales-info {
        display: flex;
        align-items: center;
    }
    
    .opaque-grey-vertical-border {
        color: rgba($color: #000000, $alpha: 0.4);
        margin: 0px 6px;
    }
    
    .fas {
        margin: 0px 1px;
    }
    
    .product-name-show {
        font-size: 1.5rem;
        line-height: 36px;
        font-family: 'Press Start 2P', cursive;
        margin: 1.5rem 0px;
    }

    .product-price {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 36px;
        font-family: 'Press Start 2P', cursive;
        text-shadow: 1px 1px grey;
    }

    .show-page-form {
        margin: 1.5rem 0;
    }

    .show-page-select{
        box-shadow: 0 1px 6px 0 rgba($color: #323232, $alpha: 0.15);
        font-size: 16px;
        height: 48px;
        padding-left: 12px;
        padding-right: 36px;
        width: 100%;
        border-radius: 6px;
        border-color: rgba(34, 34, 34, 0.15);
        border-style: solid;
        border-width: 1px;
        text-overflow: "";
        cursor: pointer;
        margin: 5px 0;
    }

    .product-show-additional-info-button {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 3em;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 24px;
        position: relative;
        cursor: pointer;
        margin: 10px 0px;
    }
    .product-show-additional-info-button::after {
        content: '';
        width: 100%;
        height: 3em;
        border-radius: 24px;
        display: block;
        position: absolute;
        transform: scale(0);
        background-color: rgba($color: #323232, $alpha: 0.10);
        bottom: 0;
        left: 0;
        transition: transform 400ms;
    }

    .product-show-additional-info-button:hover::after{
        transform: scale(1);
    }

    .product-show-additional-info-inactive {
        overflow: hidden;
        height: 0%;
        transition: height 150ms ease-out;
    }

    .product-show-additional-info-active {
        overflow: hidden;
        height: 140px;
        transition: height 800ms;
        position: relative;
    }

    .product-show-additional-info-active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 140px;
        background:
            linear-gradient(180deg, 
            rgba(255,255,255,0.01) 10%, 
            rgba(255,255,255,0.55) 91%);;
    }

    .add-to-cart-button {
        text-align: center;
        color: #FFFFFF;
        background: #222222;
        border: none;
        cursor: pointer;
        font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        vertical-align: middle;
        width: 100%;
        height: 3em;
        margin: 10px 0px;
    }
}

