.product-search-index {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1400px;
    padding: 0 18px;
    font-size: 14px;
}

.product-search-item-container {
    box-sizing: border-box;
    max-height: 480px;
    width: 25%;
    min-width: 216px;
    padding: 9px;

    .img-container {
        position: relative;
        padding-bottom: 100%;
        border-radius: 2px;
        overflow: hidden;
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .title {
        line-height: 1.6;
    }

    .search-reviews-container {
        display: flex;
        justify-content: start;

        .star-rating-container {
            display: flex;
            align-items: center;
        }
        .average-rating {

        }

        .review-star {

        }

        .number-of-reviews {

        }

        .dot {

        }

        .star-seller-name-container {
            display: flex;
            align-items: center;
        }

        .seller-star {

        }

        .seller-shop-name {

        }
    }

    .price-container {

        .price {

        }

        .discount {
            // color: rgb(42, 170, 42);
        }
    }

    .promotion-container {

        .promo-info {

        }

        .shipping {

        }

        .stock {

        }
    }

    .cart-search-container {

        .add-to-cart {

        }

        .more-like-this {

        }
    }
}