.create-review {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    position: relative;
    min-height: 300px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    color: whitesmoke;
    font-size: 13;
    background: linear-gradient(315deg, rgba(22,20,54,1) 10%, rgba(28,28,160,1) 91%);
    border-radius: 24px;
    border: 10px solid black;
    border-style: double;
    text-shadow: 1px 1px black;
    width: 400px;
    text-align: center;
    
    .close-modal-button {
        position: absolute;
        top: 0;
        right:0;
        font-size: 1.5rem;
        margin-top: .5em;
        margin-right: .5em;
        cursor: pointer;
    }


    .create-review-form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .review-rating{
        font-size: 16;
        margin: 15px 0px;

        div {
            margin-top: 5px;
            display: flex;
            justify-content: center;
        }
    }

    .fas {
        font-size: 24px;  
        color: #18f98d; 
        margin: 0px 1px;
    }

    .far {
        font-size: 24px;  
        color: #f5f5f5; 
        margin: 0px 1px;
    }

    .far:hover { 
        color: #18f98d;
    }

    li {
        list-style-type: none;
    }

    ul{
        list-style-type: none;
    }

    label{
        width: 100%;
     }     

    input[type="radio"]{
        -webkit-appearance: none;
    }   
    
    .review-button{
        text-align: center;
        color: #FFFFFF;
        background: #222222;
        border: none;
        cursor: pointer;
        font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        vertical-align: middle;
        width: 70%;
        height: 3em;
        margin: 10px 0px;
    }

    .review-body {
        box-shadow: 0 1px 6px 0 rgba(#f5f5f5, 0.15);
        font-size: 13px;
        min-height: 100px;
        height: 150px;
        max-height: 250px;
        min-width: 85%;
        width: 85%;
        max-width: 85%;
        width: min-max(85%, 85%);
        margin: 10px;
        border-radius: 6px;
        border-color: rgba(#f5f5f5, 0.15);
        border-style: double;
        border-width: 6px;
    }
    
}

.review-container {
    margin-bottom: 4vh;
    display: flex;
    justify-content: flex-start;
}

.user-icon {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5em;

}

.blue-icon {
    background-color: rgb(185, 248, 248);
    color: rgb(27, 175, 175);
}

.purple-icon {
    background-color: rgb(236, 130, 236);
    color: rgb(47, 7, 47);
}

.red-icon {
    background-color: rgb(246, 113, 113);
    color: rgb(161, 23, 23);
}

.green-icon {
    background-color: rgb(73, 236, 73);
    color: rgb(18, 61, 18);
}

.grey-icon {
    background-color: rgb(144, 144, 144);
    color: rgb(92, 92, 92);
}

.review-rating-and-body{
    margin-top: .5em;

    p {
        font-size: 1rem;
    }

    .far, .fas {
        font-size: 1.2rem;
        margin: 1rem 0 .5rem 0;
    }

    .update-review-button{
        text-align: center;
        color: #222222;
        border: thin solid #222222;
        cursor: pointer;
        font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        border-radius: 24px;
        font-size: .75rem;
        vertical-align: middle;
        width: fit-content;
        height: 1.75em;
        margin: 2em 0px 20px 2%;

        .rev-link {
            text-decoration: none;
            color: #222222;
        }
    }
}



.reviews-container {

    .reviews-header {
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(168, 168, 168, 0.5);

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        p {
            font-size: 1rem;
            margin: 1.25em 1em;
        }
    }

    i {
        font-size: 1rem;
        margin: 1.25em 0
    }
    
    h5 {
        font-size: 1.75rem;
        font-weight: 200;
    }

    h6 {
        margin-top: .5em;
        font-size: 1.125rem;
    }

    .review-author-date {
        display: flex;

        .author {
            text-decoration: underline;
            opacity: .8;
        }

        .date {
            margin-left: .5em;
            opacity: .9
        }
    }
}